@font-face {
  font-family: "iconfont"; /* Project id 3710126 */
  src: url('../fonts/iconfont.woff2?t=1665977228621') format('woff2'),
       url('../fonts/iconfont.woff?t=1665977228621') format('woff'),
       url('../fonts/iconfont.ttf?t=1665977228621') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-favorite:before {
  content: "\e604";
}

